<h2>Todo List</h2>
<table>
  <tr>
    <th>Check</th>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Repeating Task</th>
  </tr>
  <tr *ngFor="let user of listuser; index as i">
    <td><input type="checkbox" (click)="getCheck(i)" name="chk"></td>
    <td>{{user.name.task_name}}</td>
    <td>{{user.name.task_des}}</td>
    <td>{{user.name.task_rep}}</td>
  </tr>
</table>