<div className="wrapper">
    <form [formGroup]="myForm" (ngSubmit)="formSubmit()" id="form">
        <div class="form-group">
            <label for="example-text-input" class="form-label">Task name <span class="required">*</span></label>
            <div class="f-name">
                <input class="form-control" type="text" formControlName="task_name" placeholder="Task Name" name="task_name">
                <span class="required t-req" *ngIf="task_name.errors && (task_name.dirty || task_name.touched)">
                    <span *ngIf="task_name.errors.required">Task name is required</span>
                </span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="example-text-input" class="form-label">Task Description <span class="required">*</span></label>
            <div class="f-name">
                <input class="form-control" type="text" formControlName="task_des" placeholder="Task Description" name="task_des">
                <span class="required t-req" *ngIf="task_des.errors && (task_des.dirty || task_des.touched)">
                    <span *ngIf="task_des.errors.required">Task Description is required</span>
                </span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="example-text-input" class="col-2 col-form-label">Repeating Task <span class="required">*</span></label>
            <div class="col-10">
                <select class="form-control m-select" formControlName="task_rep" name="task_rep">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <span class="required t-req" *ngIf="task_rep.errors && (task_rep.dirty || task_rep.touched)">
                    <span *ngIf="task_rep.errors.required">Repeating Task is required</span>
                </span>
            </div>
        </div>
        <br />
        <div class="m-portle">
            <div class="m-form">
                <div class="col0">
                    <button type="submit" class="btn-custom">
                        Submit
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button (click)="go()" class="btn-custom">
                        Go Next
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>